{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
  <h1>Register</h1>
  <form method="POST" action="{{ url_for('main.register') }}">
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
    </p>
    <p>
      {{ form.last_name.label }}<br>
      {{ form.last_name(size=32) }}
    </p>
    <p>
      {{ form.first_name.label }}<br>
      {{ form.first_name(size=32) }}
    </p>
    <p>
      {{ form.middle_name.label }}<br>
      {{ form.middle_name(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
